<app-painel-simples titulo="Pedidos" col="12" tipo="default" >
  <div class="form-group row">
      <button class="btn btn-primary mr-2" *ngIf="funcionario" routerLink="/dashboard/pedidos/novo">Novo Pedido</button>
      <button class="btn btn-dark" routerLink="/dashboard/deliverys/novo">Novo Delivery</button>
  </div>
    <br>  
    <app-loading [loader]="loader"></app-loading> 
<table class="table table-hover" *ngIf="existemPedidos() && !loader" >
      <thead>
        <tr>
          <th >Id</th>
          <th >Data/Hora</th>
          <th>Tipo</th>
          <th >Status</th>
          <th>Mesa</th>
          <th>Cliente</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos">
          <td>{{pedido.id}}</td>
          <td>{{pedido.data}}</td>
          <td>{{pedido.tipo}}</td>
          <td>{{pedido.status}}</td>
          <td>{{pedido?.mesa}}</td>
          <td>{{pedido.cliente}}</td>
          <td>{{pedido.valorTotal | currency: 'BRL'}}</td>
          <td><button class="btn btn-primary btn-sm" routerLink="/dashboard/pedidos/details/{{pedido.id}}"><i class="fas fa-list"></i></button></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="error && !loader">
        <span class="badge badge-danger">Dados não disponiveis, tente novamente mais tarde</span>
    </div>
    <div *ngIf="!existemPedidos() && !loader">
      <span class="badge badge-info">Nenhum pedido cadastrado</span>
    </div>
</app-painel-simples>