<app-painel-simples titulo="Pedidos - Hoje" col="12" tipo="default" >  
  <label class="badge badge-danger">Valor total diário: {{total | currency: 'BRL'}}</label>
  <table class="table table-hover" *ngIf="existemPedidos()" >
      <thead>
        <tr>
          <th >Id</th>
          <th >Data/Hora</th>
          <th >Status</th>
          <th>Mesa</th>
          <th>Cliente</th>
          <th>Funcionário</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos">
          <td>{{pedido.id}}</td>
          <td>{{pedido.data}}</td>
          <td>{{pedido.status}}</td>
          <td>{{pedido.mesa}}</td>
          <td>{{pedido.cliente}}</td>
          <td>{{pedido.funcionario}}</td>
          <td>{{pedido.valorTotal | currency: 'BRL'}}</td>
          <td><button class="btn btn-primary btn-sm" routerLink="/dashboard/pedidos/details/{{pedido.id}}"><i class="fas fa-list"></i></button></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!existemPedidos()">
      <span class="badge badge-info">Nenhuma mesa cadastrada</span>
    </div>
</app-painel-simples>