<app-painel-simples titulo="Pedidos - Hoje" col="12" tipo="default" >  
  <app-loading [loader]="loader"></app-loading>
  <div *ngIf="!loader">
    <label class="badge badge-danger">Valor total diário: {{total | currency: 'BRL'}}</label>
    <table class="table table-hover" *ngIf="existemPedidos()" >
        <thead>
          <tr>
            <th >Id</th>
            <th >Data/Hora</th>
            <th>Tipo</th>
            <th>Mesa</th>
            <th>Cliente</th>
            <th>Total</th>
            <th >Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedido of pedidos">
            <td>{{pedido.id}}</td>
            <td>{{pedido.data}}</td>
            <td>{{pedido.tipo}}</td>
            <td>{{pedido.mesa}}</td>
            <td>{{pedido.cliente}}</td>
            <td>{{pedido.valorTotal | currency: 'BRL'}}</td>
            <td class="badge badge-pill" [ngClass]="pedido.status == 'Pendente' ? 'badge-danger' : 'badge-success'">{{pedido.status}}</td>
            <td><button class="btn btn-primary btn-sm" routerLink="/dashboard/pedidos/details/{{pedido.id}}"><i class="fas fa-list"></i></button></td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!existemPedidos()">
        <span class="badge badge-info">Nenhum pedido diário</span>
      </div>
  </div>
</app-painel-simples>