.navbar{
    margin: 0;
    border-radius: 0;
  }
  .navbar-toggle{
    display: inline-block;
    margin-left: 10px;
  }

  .nav-item{
    cursor:pointer;
  }

  .num{
    font-size:18px;
    border-radius: 30px;
    padding: 2px 5px;
    color: white;
    background-color: red;
  }

  .fas.fa-utensils, .fas.fa-concierge-bell{
    font-size:30px;
    color:white;
  }

