<app-painel-simples titulo="Novo delivery" col="12">
  <div>
      <div>
          <button *ngIf="total() > 0" (click)="getCart()"  class="btn btn-success btn-block" data-toggle="modal" data-target="#cart">Emitir Pedido</button>
      </div>
      <br>
    <router-outlet></router-outlet>
  </div>
  
</app-painel-simples>

<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Itens Pedidos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      <div class="modal-body">
          <div>
              Deseja identificar o cliente?
          </div>
          <div class="row container">
            <input [(ngModel)]="email" placeholder="Pesquise o email do cliente" class="form-control col-md-10" type="text">
            <button [disabled]="!email" (click)="findLikeEmail()" type="button" class="btn btn-dark"><i class="fas fa-search"></i></button>
          </div>
          <br>
          <table class="table table-hover" *ngIf="existemClientes()">
            <thead>
              <tr>
                <th>Nome</th>
                <th>CPF</th>
              </tr>
            </thead>
            <tbody>
              <tr (click)="selecionaCliente(cliente)" class="clientes" *ngFor="let cliente of clientes">
                <td>{{cliente.nome + ' ' + cliente.sobrenome}}</td>
                <td>{{cliente.cpf}}</td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="!enderecoEntrega">
            <span class="text-danger">Selecione o endereço de entrega*</span>
            <table class="table table-hover" >
              <thead>
                <tr>
                  <th>Descrição</th>
                </tr>
              </thead>
              <tbody>
                <tr (click)="selecionaEndereco(end)" class="clientes" *ngFor="let end of enderecos">
                  <td>{{end.logradouro + ', ' + end.numero + ', '+end.bairro +', '+ end.cep}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="idCliente">
            <label class="badge badge-dark">Cliente: {{nomeCliente}} <i (click)="deletaCliente()" class="fas fa-trash"></i></label>
          </div>
          <div *ngIf="enderecoEntrega">
            <label class="badge badge-dark">Endereço: {{enderecoEntrega.logradouro + ', ' + enderecoEntrega.numero}} <i (click)="deletaEndereco()"  class="fas fa-trash"></i></label>
          </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Produto</th>
              <th>Quantidade</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tr *ngFor="let item of cart.items">
            <td>{{item.produto.nome}}</td>
            <td><i class="fas fa-minus-circle" (click)="decreaseQuantity(item.produto)"></i><span class="quant">{{item.quantidade}}</span><i (click)="increaseQuantity(item.produto)" class="fas fa-plus-circle"></i></td>
            <td>{{item.produto.preco * item.quantidade | currency: 'BRL'}}</td>
            
            <td> <i (click)="removeItem(item.produto)" class="fas fa-trash"></i></td>
          </tr>
        </table>

        <div>
          <label class="badge badge-danger">Total: {{total() | currency: 'BRL'}}</label>
        </div>
        <br>
        
          <button class="mr btn btn-secondary"  data-dismiss="modal">Voltar</button>
          <button class="btn btn-success" [disabled]="!enderecoEntrega || total() <= 0" data-dismiss="modal" (click)="insert()">Emitir Pedido</button>
      </div>
    </div>
  </div>
</div>