<app-painel-simples titulo="Novo usuário" col="12" tipo="default">
    <form #f="ngForm" (ngSubmit)="addUsuario()">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="nome">Nome*</label>
          <input type="text" name="nome" #nome="ngModel" [(ngModel)]="usuario.nome" [class.is-invalid]="!nome.valid && nome.touched" id="nome"   
          class="form-control"  required minlength="2" maxlength="50" />
          <div *ngIf="!nome.valid && nome.touched" class="text-danger">
              Informe o nome
          </div>
        </div>

        <div class="form-group col-md-6">
            <label for="sobrenome">Sobrenome*</label>
            <input type="text" name="sobrenome" #sobrenome="ngModel" [(ngModel)]="usuario.sobrenome" [class.is-invalid]="!sobrenome.valid && sobrenome.touched" id="sobrenome"   
            class="form-control"  required minlength="2" maxlength="50" />
            <div *ngIf="!sobrenome.valid && sobrenome.touched" class="text-danger">
                Informe o sobrenome
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="cpf">CPF*</label>
            <input type="text" name="cpf" #cpf="ngModel" [(ngModel)]="usuario.cpf" [class.is-invalid]="!cpf.valid && cpf.touched" id="cpf"   
            class="form-control"  required [textMask]="{mask: maskCpf, guide: false}" placeholder="000.000.000-00"  required minlength="14" maxlength="14"  />
            <div *ngIf="!cpf.valid && cpf.touched" class="text-danger">
                Informe o CPF
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="email">Email*</label>
            <input type="text" name="email" #email="ngModel" [(ngModel)]="usuario.email" [class.is-invalid]="!email.valid && email.touched" id="email"   
            class="form-control" placeholder="example@email.com"  required email />
            <div *ngIf="!email.valid && email.touched" class="text-danger">
                Informe o email
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="telefone">Telefone*</label>
            <input type="text" name="telefone" #telefone="ngModel" [(ngModel)]="usuario.telefone" [class.is-invalid]="!telefone.valid && telefone.touched" id="telefone"   
            class="form-control"  required minlength="14" maxlength="14" placeholder="(00)00000-0000" [textMask]="{mask: maskFone, guide: false}"/>
            <div *ngIf="!telefone.valid && telefone.touched" class="text-danger">
                Informe o telefone
            </div>
        </div>

        <div class="form group col-md-6">
                <label>Perfil*</label>
                <select required class="form-control" id="perfil" name="perfil" [(ngModel)]="usuario.perfil" #perfil="ngModel">
                    <option value="4">CLIENTE</option>
                  <option value="2">GARÇOM</option>
                  <option value="3">COZINHEIRO</option>
                  <option value="1">ADMIN</option>
                </select>
                
                <div *ngIf="!perfil.value && perfil.touched" class="text-danger">
                    Informe do perfil do usuário
                </div>
                <br>
        </div>


        <div class="form-group col-md-6">
            <label for="senha">Senha*</label>
            <input type="password" name="senha" #senha="ngModel" [(ngModel)]="usuario.senha" [class.is-invalid]="!senha.valid && senha.touched" id="senha"   
            class="form-control"  required minlength="6" maxlength="40"  />
            <div *ngIf="!senha.valid && senha.touched" class="text-danger">
                Informe o a senha
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="confirmSenha">Confirmação de senha*</label>
            <input type="password" name="confirmSenha" #confirmSenha="ngModel" [(ngModel)]="usuario.confirmSenha" [class.is-invalid]="!confirmSenha.valid && confirmSenha.touched" id="confirmSenha"   
            class="form-control"  required minlength="6" maxlength="40" />
            <div *ngIf="!confirmSenha.valid && confirmSenha.touched" class="text-danger">
                Informe a confirmação de senha
            </div>
        </div>


        <div class="col-md-12">
          <label class="badge badge-primary">Endereço</label>
        </div>

        <div class="form-group col-md-9">
            <label for="logradouro">Logradouro*</label>
            <input type="text" name="logradouro" #logradouro="ngModel" [(ngModel)]="usuario.logradouro" [class.is-invalid]="!logradouro.valid && logradouro.touched" id="logradouro"   
            class="form-control"  required minlength="2" maxlength="100" />
            <div *ngIf="!logradouro.valid && logradouro.touched" class="text-danger">
                Informe o logradouro
            </div>
        </div>

        <div class="form-group col-md-3">
            <label for="numero">Número*</label>
            <input type="text" name="numero" #numero="ngModel" [(ngModel)]="usuario.numero" [class.is-invalid]="!numero.valid && numero.touched" id="numero"   
            class="form-control"  required maxlength="10" />
            <div *ngIf="!numero.valid && numero.touched" class="text-danger">
                Informe a número
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="bairro">Bairro*</label>
            <input type="text" name="bairro" #bairro="ngModel" [(ngModel)]="usuario.bairro" [class.is-invalid]="!bairro.valid && bairro.touched" id="bairro"   
            class="form-control"  required minlength="2" maxlength="100" />
            <div *ngIf="!bairro.valid && bairro.touched" class="text-danger">
                Informe o bairro
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="complemento">Complemento</label>
            <input type="text" name="complemento" #complemento="ngModel" [(ngModel)]="usuario.complemento" [class.is-invalid]="!complemento.valid && complemento.touched" id="complemento"   
            class="form-control" maxlength="50" />
        </div>

        <div class="form-group col-md-6">
            <label for="cep">CEP*</label>
            <input [textMask]="{mask: maskCep, guide: false}" placeholder="00000-000" type="text" name="cep" #cep="ngModel" [(ngModel)]="usuario.cep" [class.is-invalid]="!cep.valid && cep.touched" id="cep"   
            class="form-control"  required minlength="9" />
            <div *ngIf="!cep.valid && cep.touched" class="text-danger">
                Informe o CEP
            </div>
        </div>
        <div class="form-group col-md-12">
          <button type="submit" [disabled]="f.invalid" class="btn btn-success">Cadastrar</button>
          <button class="btn btn-light" routerLink="/dashboard/usuarios">Voltar</button>
        </div>
      </div>
    </form>
  </app-painel-simples>