<app-painel-simples titulo="Detalhes Pedido - Id {{pedido.id}}" col="12">
  <div class="row">
    <div class="form-group col-md-6">
      <label>Data/hora</label>
      <label class="form-control">{{pedido.data}}</label>
    </div>

    <div class="form-group col-md-6">
      <label>Status</label>
      <label class="form-control">{{pedido.status}}</label>
    </div>

    <div class="form-group col-md-6">
        <label>Mesa</label>
        <label  class="form-control">{{pedido.mesa.nome}}</label>
    </div>

    <div class="form-group col-md-6" *ngIf="pedido.cliente">
        <label>Cliente</label>
        <label  class="form-control" >{{pedido.cliente.nome + ' ' + pedido.cliente.sobrenome}}</label>
    </div>


  <div class="col-md-12">
      <label class="badge badge-primary">Itens Pedidos</label>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Status</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pedido.itens">
        <td>{{item.produto.nome}}</td>
        <td>{{item.quantidade}}</td>
        <td>{{item.statusItem}}</td>
        <td>{{item.quantidade * item.produto.preco | currency : 'BRL'}}</td>
      </tr>
    </tbody>
  </table>

  <div class="col-md-12">
      <label class="badge badge-danger">Total: {{pedido.valorTotal | currency: 'BRL'}}</label>
  </div>



    <div class="form-group col-md-12">
      <button class="btn btn-light" routerLink="/dashboard/pedidos">Voltar</button>
    </div>
  </div>
</app-painel-simples>
