
<div id="form-container">
    <div class="panel" id="form-box">
        <form #f="ngForm"  method="post">
            <img src="assets/imgs/user2.png"/>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
              </div>
              <input required email type="text" name="email" [(ngModel)]="creds.email" class="form-control" placeholder="Email" aria-label="email" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
              </div>
              <input required minlength="6" type="password" [(ngModel)]="creds.senha" name="senha" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="form-group">
                <input [disabled]="!f.valid" type="submit" (click)="login()" value="Entrar" class="btn btn-success form-control" />
                <button class="btn form-control register" routerLink="/register">Registrar</button>  
            </div>
        </form>
    </div>
</div>
