<app-painel-simples titulo="Mesas" col="12" tipo="default" >
  <div class="form-group row">
      <button class="btn btn-primary add" routerLink="/dashboard/mesas/novo">Nova Mesa</button>
  </div>
    <br>   
<table class="table table-hover">
      <thead>
        <tr>
          <th >Id</th>
          <th >Nome</th>
          <th >Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mesa of mesas">
          <td>{{mesa.id}}</td>
          <td>{{mesa.nome}}</td>
          <td>{{mesa.status}}</td>
          <td><button type="button" class="btn btn-success btn-sm"><i class="fas fa-pencil-alt"></i></button></td>
          <td><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!existemMesas()">
      <span class="badge badge-info">Nenhuma mesa cadastrada</span>
    </div>
</app-painel-simples>