<app-painel-simples titulo="Analytics" col="12" tipo="primary" color="white">
        <div class="row">

        <div class="col-md-3">
            <div class="card text-white bg-success mb-3 click" routerLink="/dashboard/pedidos/hoje" style="max-width: 18rem;">
                    <div class="card-body">
                        <div class="box-icon">
                            <i class="fas fa-cart-arrow-down icon"></i>
                        </div>
                        <h6>Pedidos Diários</h6>
                    <h5 class="card-text text-center">{{countPedidos}}</h5>
                    </div>
            </div>
        </div>


        <div class="col-md-3">
                <div class="card text-white bg-danger mb-3 click" routerLink="/dashboard/itens/hoje" style="max-width: 18rem;">
                        <div class="card-body">
                            <div class="box-icon">
                                <i class="fas fa-chart-line icon"></i>
                            </div>
                            <h6>Itens Diários</h6>
                        <h5 class="card-text text-center">{{countItens}}</h5>
                        </div>
                </div>
        </div>

        <div class="col-md-3" >
                <div class="card text-white bg-dark mb-3 click" routerLink="/dashboard/demandas/cozinha" style="max-width: 18rem;">
                        <div class="card-body">
                            <div class="box-icon">
                                <i class="fas fa-utensils icon"></i>
                            </div>
                            <h6>Demandas Cozinha</h6>
                        <h5 class="card-text text-center">{{cozinha}}</h5>
                        </div>
                </div>
        </div>

        <div class="col-md-3">
                <div class="card text-white bg-primary mb-3 click" routerLink="/dashboard/demandas/garcom" style="max-width: 18rem;">
                        <div class="card-body">
                            <div class="box-icon">
                                <i class="fas fa-chart-bar icon"></i>
                            </div>
                            <h6>Demandas Garçom</h6>
                        <h5 class="card-text text-center">{{garcom}}</h5>
                        </div>
                </div>
        </div>

        <div class="col-md-6">  
                <div class="card">
                    <div class="card-header">Produtos Mais vendidos</div>
                    <div class="card-body">
                        <div *ngIf="nomesProdutos && nomesProdutos.length == 0">
                            <p class="text-center text-muted">Dados não disponíveis</p>
                        </div>
                        <div style="display: block" *ngIf="nomesProdutos && nomesProdutos.length > 0">
                            <canvas baseChart [data]="quantidade" [labels]="nomesProdutos" [chartType]="tipoGrafico"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-md-6">  
                <div class="card ">
                    <div class="card-header ">Produtos Mais vendidos</div>
                    <div class="card-body">
                        <div *ngIf="nomesProdutos && nomesProdutos.length == 0">
                            <p class="text-center text-muted">Dados não disponíveis</p>
                        </div>
                        <div style="display: block" *ngIf="nomesProdutos && nomesProdutos.length > 0">
                            <canvas baseChart [data]="quantidade" [labels]="nomesProdutos" chartType="bar"></canvas>
                        </div>
                    </div>
                </div>
            </div>

    </div> <!--fim row-->

    


    
</app-painel-simples>