<div class="menu" [class.menu-open]="menuAberto">
    <ul>
        <a routerLink="/dashboard/profile"><img class="user" src="assets/imgs/user2.png"></a>
        <li ><a (click)="toggle5()"><i class="fas fa-user"></i><span>{{ (usuarioService.usuario$ | async)?.nome }}</span></a>
            <ul [ngClass]="opProfile == true ? 'show-menu' : 'hide-menu'">
                <li><a routerLink="/dashboard/profile"><i class="fas fa-user-cog"></i>Profile</a></li>
                <li><a (click)="logout()"><i class="fas fa-sign-out-alt"></i>Sair</a></li>
            </ul>
        </li>
    </ul>
    <hr class="barra">  
    <ul>
    
    <li *ngIf="hasRole(['ADMIN', 'GARCOM', 'COZINHEIRO'])"><a routerLink="/dashboard"><i class="fas fa-chart-line"></i><span>Dashboard</span></a></li>
       
    <li ><a *ngIf="hasRole(['ADMIN', 'GARCOM', 'COZINHEIRO'])" (click)="toggle7()"><i class="fas fa-spinner"></i><span>Demandas</span></a>
        <ul [ngClass]="opDemandas == true ? 'show-menu' : 'hide-menu'">
            <li><a routerLink="/dashboard/demandas/cozinha"><i class="fas fa-utensils"></i>Cozinha</a></li>
            <li><a routerLink="/dashboard/demandas/garcom"><i class="fas fa-check-circle"></i>Garçom</a></li>
        </ul>
    </li>

    <li *ngIf="hasRole(['ADMIN', 'GARCOM', 'COZINHEIRO'])"><a routerLink="/dashboard/pedidos/pendente"><i class="fas fa-credit-card"></i><span>Fechar conta</span></a></li>

    <li ><a (click)="toggle4()"><i class="fas fa-shopping-cart"></i><span>Pedidos</span></a>
        <ul [ngClass]="opPedidos == true ? 'show-menu' : 'hide-menu'">
            <li><a routerLink="/dashboard/pedidos"><i class="fas fa-list-alt"></i>Listar</a></li>
            <li><a routerLink="/dashboard/pedidos/novo"><i class="fas fa-plus-square"></i>Novo</a></li>
        </ul>
    </li>

    <li ><a (click)="toggle8()"><i class="fas fa-motorcycle"></i><span>Deliverys</span></a>
        <ul [ngClass]="opDelivery == true ? 'show-menu' : 'hide-menu'">
            <li><a routerLink="/dashboard/deliverys"><i class="fas fa-list-alt"></i>Listar</a></li>
            <li><a routerLink="/dashboard/deliverys/novo"><i class="fas fa-plus-square"></i>Novo</a></li>
        </ul>
    </li>

    <li ><a (click)="toggle1()" *ngIf="hasRole(['ADMIN'])"><i class="fas fa-utensils"></i><span>Produtos</span></a>
     <ul [ngClass]="opProdutos == true ? 'show-menu' : 'hide-menu'">
         <li><a routerLink="/dashboard/produtos"><i class="fas fa-list-alt"></i>Listar</a></li>
         <li><a routerLink="/dashboard/produtos/novo"><i class="fas fa-plus-square"></i>Cadastrar</a></li>
     </ul>
    </li>

    <li ><a (click)="toggle2()" *ngIf="hasRole(['ADMIN'])"><i class="fas fa-concierge-bell" ></i><span>Categorias</span></a>
        <ul [ngClass]="opCategorias == true ? 'show-menu' : 'hide-menu'">
            <li><a routerLink="/dashboard/categorias"><i class="fas fa-list-alt"></i>Listar</a></li>
            <li><a routerLink="/dashboard/categorias/novo"><i class="fas fa-plus-square"></i>Cadastrar</a></li>
        </ul>
       </li>

    <li ><a (click)="toggle3()" *ngIf="hasRole(['ADMIN'])"><i class="fas fa-chair"></i><span>Mesas</span></a>
      <ul [ngClass]="opMesas == true ? 'show-menu' : 'hide-menu'">
          <li><a routerLink="/dashboard/mesas"><i class="fas fa-list-alt"></i>Listar</a></li>
          <li><a routerLink="/dashboard/mesas/novo"><i class="fas fa-plus-square"></i>Cadastrar</a></li>
      </ul>
     </li>

     <li ><a (click)="toggle6()" *ngIf="hasRole(['ADMIN'])"><i class="fas fa-user-alt"></i><span>Usuários</span></a>
        <ul [ngClass]="opUsuarios == true ? 'show-menu' : 'hide-menu'">
            <li><a routerLink="/dashboard/usuarios"><i class="fas fa-list-alt"></i>Listar</a></li>
            <li><a routerLink="/dashboard/usuarios/novo"><i class="fas fa-plus-square"></i>Novo</a></li>
        </ul>
       </li>
    
  </ul>
</div>